<ion-view title="Club de puntos" id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="clubDePuntos-heading3" style="color:#000000;font-weight:600;text-align:center;" class="points">500</h1>
    <h3 id="clubDePuntos-heading4" style="color:#000000;text-align:center;">puntos</h3>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h5 id="clubDePuntos-heading5" style="color:#000000;font-weight:600;">Historial</h5>
    <ion-list id="clubDePuntos-list4">
      <ion-item id="clubDePuntos-list-item11">37 puntos</ion-item>
      <ion-item id="clubDePuntos-list-item12">60 puntos</ion-item>
      <ion-item id="clubDePuntos-list-item13">321 puntos</ion-item>
      <ion-item id="clubDePuntos-list-item14">60 puntos</ion-item>
      <ion-item id="clubDePuntos-list-item15">30 puntos</ion-item>
      <ion-item id="clubDePuntos-list-item16">25 puntos</ion-item>
      <ion-item id="clubDePuntos-list-item17">50 puntos</ion-item>
    </ion-list>
  </ion-content>
</ion-view>