<ion-view title="Gracias" id="page14">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 162px;"></div>
    <div id="gracias-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">¡Gracias por su pedido!</p>

      <p style="color:#000000;">
        <strong>30 minutos aproximadamente.</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 72px;"></div>
    <a ui-sref="tabsController.hasTuPedido()" id="gracias-button5" class="button button-positive button-small button-block icon ion-android-home"></a>
  </ion-content>
</ion-view>