<ion-view title="Has tu pedido" id="page2">
  <ion-content padding="false" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" style="width:100%;height:100%;">
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/yszNemkiSM2ECfGwS1Nx_chicken-burger-2953388_640.jpg&quot;) no-repeat center;background-size:cover;">
        <div class="order-slider">
          <h3>Hamburguesa especial</h3>
          <p>Bs. 8.-</p>
          <a ui-sref="tabsController.promociones()" class="button button-positive button-small  icon ion-ios-cart-outline CustomOrderButton"> Pedir</a>
        </div>

      </ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/juJEWKPGSGuU4vjAjvxW_chicken-nuggets-246180_640.jpg&quot;) no-repeat center;background-size:cover;">
        <div class="order-slider">
          <h3>Tenders</h3>
          <p>Bs. 18.-</p>
          <a ui-sref="tabsController.promociones()" class="button button-positive button-small  icon ion-ios-cart-outline CustomOrderButton"> Pedir</a>
        </div>
      </ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/e7ZRIXpXRHyhD6c27lfn_chicken-2997398_640.jpg&quot;) no-repeat center;background-size:cover;">
        <div class="order-slider">
          <h3>Pollo ranchero</h3>
          <p>Bs. 45.-</p>
          <a ui-sref="tabsController.promociones()" class="button button-positive button-small  icon ion-ios-cart-outline CustomOrderButton"> Pedir</a>
        </div>
      </ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/JLKEp2V4SiCgKVO07CH9_fried-1565908_640.jpg&quot;) no-repeat center;background-size:cover;">
        <div class="order-slider">
          <h3>Pollo Campeón</h3>
          <p>Bs. 24.-</p>
          <a ui-sref="tabsController.promociones()" class="button button-positive button-small  icon ion-ios-cart-outline CustomOrderButton"> Pedir</a>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>