<ion-view title="Mis Pedidos" id="page13">
  <ion-content padding="true" class="has-header">
    <ion-list id="misPedidos-list12">
      <ion-item class="item-avatar" id="misPedidos-list-item23">
        <img src="img/hHCn3u0T0uxblPwL8GOQ_buttermilk-fried-chicken-recipe-2.jpg">
        <h2>Pollo frito</h2>
        <p>Hace instantes</p>
        <ion-option-button class="button-positive">Volver a pedir</ion-option-button>
        <ion-option-button class="button-dark">Ver orden</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="misPedidos-list-item24">
        <img src="img/xewn8V9qTM2JKULk7PVd_fajita-spice-marinated-fried-chicke.jpg">
        <h2>Combo: Pollo con papas</h2>
        <p>Ayer</p>
        <ion-option-button class="button-positive">Volver a pedir</ion-option-button>
        <ion-option-button class="button-dark">Ver orden</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="misPedidos-list-item25">
        <img src="img/HJfhQvnVQcOd7P4INMG3_ace61a2cfeeed8c33a2c9e9adcc9f67f.jpg">
        <h2>Pollo especial</h2>
        <p>Hace 10 días</p>
        <ion-option-button class="button-positive">Volver a pedir</ion-option-button>
        <ion-option-button class="button-dark">Ver orden</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="misPedidos-list-item26">
        <img src="img/psxMZrCEQlOZl2R9hTld_a8b103ff55ed358ad86eb9566f1a82a7.jpg">
        <h2>Pollo ranchero</h2>
        <p>Hace 2 semanas</p>
        <ion-option-button class="button-positive">Volver a pedir</ion-option-button>
        <ion-option-button class="button-dark">Ver orden</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>