<ion-view title="Orden" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="orden-list9">
      <ion-item class="item-thumbnail-left" id="orden-list-item6">
        <img src="img/Fsjknx3zT5iuhpUqIE0F_a8b103ff55ed358ad86eb9566f1a82a7.jpg">
        <h2>Pollo frito</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="orden-list-item7">
        <img src="img/OtYqQqMERqSdtprLYE6m_ace61a2cfeeed8c33a2c9e9adcc9f67f.jpg">
        <h2>Pollo especial</h2>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.pagos()" id="orden-button1" class="button button-positive button-block icon ion-arrow-right-a"></a>
  </ion-content>
</ion-view>