<ion-view title="Pagos" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="pagos-form1" class="list">
      <ion-radio id="pagos-radio1">Tarjeta de crédito o débito</ion-radio>
      <ion-radio id="pagos-radio2">Transferencia bancaria</ion-radio>
      <ion-radio id="pagos-radio3">Tigo Money</ion-radio>
      <ion-radio id="pagos-radio4">Club de puntos</ion-radio>
      <ion-radio id="pagos-radio5">Pago contra entrega</ion-radio>
    </form>
    <a ui-sref="tabsController.seleccioneSuUbicaciN()" id="pagos-button4" class="button button-positive button-block icon ion-arrow-right-a"></a>
  </ion-content>
</ion-view>