<ion-view title="Promociones" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="promociones-list8">
      <ion-item class="item-avatar" id="promociones-list-item21">
        <img src="img/zQvDrHkPTgGkHkLNRh0l_buttermilk-fried-chicken-recipe-2.jpg">
        <h2>Promoción 1</h2>
        <p>Combo: Pollo frito + Coca Cola</p>
      </ion-item>
      <ion-item class="item-avatar" id="promociones-list-item22">
        <img src="img/nBzMAInwTIy9u5UI5fyq_fajita-spice-marinated-fried-chicke.jpg">
        <h2>Promoción 2</h2>
        <p>Combo: Pollo frito + Papa doble</p>
      </ion-item>
      <ion-item class="item-avatar" id="promociones-list-item8">
        <img src="img/RnOQUrxwSDyHzUmPCrY7_ace61a2cfeeed8c33a2c9e9adcc9f67f.jpg">
        <h2>Promoción 3</h2>
        <p>Descuento 30%</p>
      </ion-item>
      <ion-item class="item-avatar" id="promociones-list-item9">
        <img src="img/0TVH1Vr4T8aZdLVYS6kI_a8b103ff55ed358ad86eb9566f1a82a7.jpg">
        <h2>Promoción 4</h2>
        <p>Compra 3 y lleva uno gratis</p>
      </ion-item>
      <ion-item class="item-avatar" id="promociones-list-item28">
        <img src="img/zQvDrHkPTgGkHkLNRh0l_buttermilk-fried-chicken-recipe-2.jpg">
        <h2>Promoción 1</h2>
        <p>Combo: Pollo frito + Coca Cola</p>
      </ion-item>
      <ion-item class="item-avatar" id="promociones-list-item30">
        <img src="img/RnOQUrxwSDyHzUmPCrY7_ace61a2cfeeed8c33a2c9e9adcc9f67f.jpg">
        <h2>Promoción 3</h2>
        <p>Descuento 30%</p>
      </ion-item>
      <ion-item class="item-avatar" id="promociones-list-item29">
        <img src="img/nBzMAInwTIy9u5UI5fyq_fajita-spice-marinated-fried-chicke.jpg">
        <h2>Promoción 2</h2>
        <p>Combo: Pollo frito + Papa doble</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>